@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .test {
    @apply mb-4 font-semibold text-accent;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .grid_top_row {
    @apply flex-center h-full w-full self-center text-center text-lg font-semibold capitalize;
  }
  .grid_inner_item {
    @apply flex-center h-full w-full flex-col self-center;
  }

  .grid_h_item {
    @apply flex-center h-full w-full bg-table-grey-dark text-center;
  }

  .grid_empty_item {
    @apply flex-center h-full w-full bg-slate-100;
  }
}

html {
  background-color: white;
  scroll-behavior: smooth;
}

.hover__link {
  color: black;
  position: relative;
  text-decoration: none;
}

.hover__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #18272f;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.hover__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
